@import "root";

footer {
    background-color: #353535;
    color: white;
    padding: 22px 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width:778px) {

        flex-direction: row;
        justify-content: end;
        align-items: center;

    }

    & h5 {
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18px;
        text-align: center;

        @media (min-width:778px) {

            order: 5;
            margin-left: 2.5vw;
    
        }
    }

    & p {
        margin: 0;
    }

    & a {
        text-decoration: none;
        color: white;
        font-weight: 500;


        & div {
            display: flex;
            align-items: center;
            gap: 10px;

            & i {
                font-size: 13px;
            }
        }
    }

    & :nth-child(1n+4) {
        font-weight: 400;
    }
    
    & :nth-child(4) {

        @media (min-width:778px) {

            margin-left: 2.5vw;
    
        }
    }


}