@import "root";

header {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 63px; 
    width: 100%;
    background-color: white;
    z-index: 3;

    @media (min-width:778px) {

        
        min-height: 96px;

    }

    & img {

        width: 162px;
        height: 44px;

    }

    & a {

        position: absolute;
        left: -3rem;
        padding-left: 5rem;
        font-size: 17px;

        @media (min-width:676px) {
            
            left: 0;

        }

        &:hover{

            filter: brightness(105%);
            transition: 0.3s;

        }

    }

}

 [class~=fa-arrow-left] {

    color: #353535;
}