@import "root";

    header {

        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 63px; 
        min-width: 100vw;
        background-color: white;

        & img {

            width: 162px;
            height: 44px;

        }

        @media (min-width:778px) {

            min-width: 200px;
            min-height: 96px;

        }

        & a {

            position: absolute;
            left: 0;
            padding-left: 5vw;

        }

        & a:hover{

            filter: brightness(105%);
            transition: 0.3s;

        }

    }
