@import "root";

.homepage-nav .location {

    animation: show-nav 0.6s ease 2s forwards;
    position: relative;
    
    width: 100%;

    @media (min-width:778px) {

                
    }

}

@keyframes show-nav {

0% {

    transform: translateY(-100%);
    opacity: 0;

}

100% {

    transform: translateY(0%);

    opacity: 1;

}

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .location {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #EAEAEA;
        padding: 2vh 0;

        & p {
            font-size: 16px;
        }
    }

    & .intro {
        padding:  $global-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        @media (min-width:1024px) {

            padding: 3vh 5vw;
            gap: 25px;

        }

        & h2 {
            margin: auto;
            width: 80%;
            
            @media (min-width: 1069px) {

                font-size: 40px;
                width: max-content;
                
            }
        }

        & p {
            font-size: 18px;
            font-weight: 300;
        }

        & button {

            width: 218px;

        }

    }
}

.side-nav {

    animation: hide-nav 1.2s ease 1  forwards;
    position: absolute;
    top: 6vh;
    width: 100%;

    @media (min-width:778px) {

        top: 10vh;
        
    }

}

@keyframes hide-nav {

    0% {

        transform: translateY(0%);
        opacity: 1;

    }


    100% {

        transform: translateY(-100%);
        opacity: 0;

    }
    
}