:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

/*** Animation pour l'ajout des restaurants aux favoris ***/
@keyframes add-favorite-restaurants {
  from {
    opacity: 0.1;
    font-weight: 1000;
    background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    opacity: 1;
    font-weight: 1000;
    background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.restaurants__card [type~=checkbox] {
  display: none;
}
.restaurants__card label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.restaurants__card label i {
  font-size: 20px;
  color: black;
}
.restaurants__card #fav-1:checked + label i {
  animation-duration: 0.3s;
  animation-name: add-favorite-restaurants;
  font-weight: 1000;
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__card #fav-2:checked + label i {
  animation-duration: 0.3s;
  animation-name: add-favorite-restaurants;
  font-weight: 1000;
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__card #fav-3:checked + label i {
  animation-duration: 0.3s;
  animation-name: add-favorite-restaurants;
  font-weight: 1000;
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__card #fav-4:checked + label i {
  animation-duration: 0.3s;
  animation-name: add-favorite-restaurants;
  font-weight: 1000;
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav .location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #EAEAEA;
  padding: 2vh;
}
nav .location p {
  font-size: 16px;
}
nav .intro {
  padding: 5vh 5vw 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
nav .intro h2 {
  margin: auto;
  width: 80%;
}
nav .intro p {
  font-size: 18px;
  font-weight: 300;
}
nav .intro button {
  padding: 13px 18.75px;
  border-radius: 25px;
  border: 0px;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  align-self: center;
  background: linear-gradient(#db6ad1, #9356DC);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=nav.css.map */