$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$green-font: #008766;
$background-color: #f6f6f6;

$global-padding: 2.5rem;
$box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.1);
$shadow-hover: 0px 0px 20px rgb(0, 0, 0, 0.15);

* {
    margin: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}

h1 {

    font-family: 'Shrikhand';
    font-size: 28px;

}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 17px;
    font-weight: 300;
}

body {
    margin: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}


/*** Animation pour l'ajout des restaurants aux favoris ***/


@keyframes add-favorite-restaurants {

    from {
        
        opacity: 0;
        
        background-image: -webkit-linear-gradient($second-color, $main-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }           
    
    to {

        opacity: 1;

        background-image: -webkit-linear-gradient($second-color, $main-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    
}

/*** Style des boutons ***/


button {
    padding: 13px 18.75px;
    border-radius: 25px;       
    border: 0px;
    width: fit-content;
    color: white;
    align-self: center;
    background: linear-gradient(#db6ad1, $main-color);
    box-shadow:  $box-shadow;


    &:hover {
        filter: brightness(105%);
        transition: 0.15s;
        box-shadow:  $shadow-hover;
        cursor: pointer;
    }

    &:not(:hover) {

        transition: 0.3s;

    }

}