@import "root";


/***** Page d'accueil *****/

.howto {

    background-color: white;
    width: 100%;

    &__card {

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 30px;
    max-width: 1080px;
    box-sizing: border-box;
    padding: 5vh 0;

    @media (min-width:1070px) {

        justify-content: space-between;
        padding: 5vh 20px;

    }

    @media (min-width:676px) {

        padding: 5vh 20px;

    }
   
    margin: auto;

        & h2 {
            align-self: flex-start;
            flex-basis: 100%;
            max-width: 1440px;
            padding-left: 5vw;

            @media (min-width:1070px) {
                padding-left: 0;

            }
        }


        &--step {

            background-color: $background-color;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px;
            padding: 25px 0px;
            border-radius: 20px;
            width: 323px;
            @include shadow-hover; 

            
            & [class~=fa-solid] {

                font-size: 18px;
                color: #7e7e7e;

            }

            & [class~=fa-store] {

                color: $main-color;

            }

            & .step-number {
                margin-left: -10px;
                border-radius: 25px 25px 25px 25px;
                background-color: $main-color;
                color: white;
                width: fit-content;
                height: fit-content;
                padding: 4px 8px;
                font-size: 14px;
                font-style: normal;
                text-align: center;
            }
        }
    }
}

.restaurants {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    @include global-padding;
    box-sizing: border-box;
    height: fit-content;

    @media (min-width:778px) {

        flex-direction: row;
        flex-wrap: wrap;
        gap:35px 8%;

    }

    &__title {
        align-self: flex-start;
        flex-basis: 100%;
    }

    & a {

        text-decoration: none;
        color: black;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        @include box-shadow;
        border-radius: 15px;
    }

    a:hover {
        @include shadow-hover;
        transition: 0.3s;
    }

    & :nth-child(3) img {
        object-position: 50% 62%;
    }

    &__card {

        display: flex;
        flex-direction: column;
        width: 100%;     
        max-width: 490px;
        height: 251px;  
        box-sizing: border-box;
        position: relative;

        @media (min-width:778px) {

            min-width: 251px;
            width: 45%;
            flex: 1 1 auto;

        }

        & i {

            color: black;
            font-size: 22px;
            position: absolute;
            top: 80%;
            right: 6%;

        }

        & i:focus {
            transition: 0.3s;
            font-weight: 1000;
            background-image: -webkit-linear-gradient($second-color, $main-color);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }



        & .new-restaurant {
            height: 29px;
            width: 80px;
            position: absolute;
            z-index: 3;
            color: $green-font;
            border-radius: 2px;
            background-color: $third-color;
            font-size: 14px;
            text-align: center;
            padding-top: 6.5px;
            box-sizing: border-box;
            right: 5%;
            margin-top: 12px;
            @include shadow-hover;
        }


        & img {

            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 70%;
            border-radius: 15px 15px 0px 0px;

        }


        &--content {              

            background-color: white;
            border-radius: 0px 0px 15px 15px;
            height: 30%;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 15px;

        }

    }    
}



/*** Pages des menus des restaurants ***/

.side-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width:778px) {

        background-color: white;

    }

    & img {
        height: 275px;
        width: 100%;
        object-fit: cover;

        @media (min-width:778px) {

            height: 383px;

        }
       
    }

}

.menus {

    background-color: $background-color;
    position: relative;
    margin-top: -60px;
    @include global-padding;
    border-radius: 50px 50px 0px 0px;
    padding-top: 4vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 1055px;


    @media (min-width:778px) {

        width: 80%;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(1,1,1,0.1);

    }

    &__name {

        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__lists {

        display: flex;
        flex-direction: column;
        gap: 10px;

        &--products {

        display: grid;
        grid-template-columns: 10fr 0fr;
        grid-template-rows: 19px 21px;
        row-gap: 5px;
        height: 69px;
        background-color: white;
        border-radius: 15px;
        @include shadow-hover;
        box-sizing: border-box;
        padding: 12px;

        }

        & h3 {

            grid-column: 1/2;
            grid-row: 1/2;
   

        }

        & h4 {

            grid-column: 1/2;
            grid-row: 2/3;


        }

        & i {

            grid-column: 2/3;
            grid-row: 2/3;
            width: fit-content;
            margin-right: 0px;
        }

    }

    & .cheating-border {

        width: 40px;
        height: 3px;
        background-color: $third-color;
    }

    & h1 {

        font-size: 28px;
        font-weight: 400;

    }

    & h2 {
        
        font-size: 16px;
        font-weight: 300;

    }


    & h3 {

        font-weight: 500;

    }

    & h4 {

        font-size: 15px;

    }

    & button {
        width: 186px;
    }

    .selected-product {
        width: 59px;
        background-color: $third-color;
        color: white;
        font-weight: 100;
    }

}